---
services:
  db:
    image: postgres
    restart: always
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=expense_monitor
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    expose:
      - 5432
    healthcheck:
      test:
        - CMD
        - pg_isready
      interval: 10s
      timeout: 5s
      retries: 5
  server:
    build:
      context: .
    environment:
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
    ports:
      - 8080:8080
    depends_on:
      - db
  frontend:
    build:
      context: ./frontend
    ports:
      - 3000:80
    depends_on:
      - server

volumes:
  db-data:
